body {
    font-family: 'Inika', serif!important;;
    background-image: url("../img/background-corkboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h5, label {
    color: #630C82!important; 
}

header, .card, .list-group-item {
    background-color: #FFD7FD!important;
}

.card {
    aspect-ratio: 1 / 1;
    width: 320px;
}